.changePasswordForm {
  width: 404px;
  height: 250px;
  margin: auto;
  position: relative;
  .control {
    margin-bottom: 0.5rem;
    label {
      font-weight: bold;
      margin-bottom: 0.5rem;
      color: #353336;
      display: block;
    }
    input {
      text-align: center;
      display: block;
      font: inherit;
      width: 100%;
      border-radius: 4px;
      padding: 0.25rem;
    }
  }
  .action {
    margin-top: 1.5rem;
  }
  h1 {
    max-width: fit-content;
  }
}
