.hero {
  height: 50vh;
  position: relative;
  .image {
    height: 50vh;
  }
  .image_cover {
    height: 50vh;
    position: relative;
    background-size: cover !important;
    background-attachment: fixed !important;
  }
}

@media only screen and (max-width: 768px) {
  .image_cover {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .image {
    display: none;
  }
}
